<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/app.css">
  <title>Belajar Tailwind</title>
</head>
<body>
  <div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-xl shadow-md space-y-2 tablet:py-4 tablet:flex tablet:items-center tablet:space-y-0 tablet:space-x-6">
    <img class="block mx-auto h-24 w-24 rounded-full tablet:mx-0 sm:flex-shrink-0" src="../../public/img/adonisme.jpg" alt="Woman's Face">
    <div class="text-center space-y-2 tablet:text-left">
      <div class="space-y-0.5">
        <p class="text-lg text-black font-semibold">
          Erin Lindford
        </p>
        <p class="text-gray-500 font-medium">
          Product Engineer
        </p>
      </div>
      <button class="btn">Message</button>
    </div>
  </div>
</body>
</html>