<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/app.css">
  <title>Belajar Sizing</title>
</head>
<body class="flex justify-center py-10">
  <div class="container border-2 border-black p-2">
    <header class="w-full h-20 bg-green-500 flex justify-center items-center text-white text-2xl">Header</header>
    <div id="content" class="w-full h-80 bg-green-700 flex">
      <div id="sidebar" class="w-1/4 h-full bg-purple-700">
        <aside class="w-full h-1/2 bg-blue-700 flex justify-center items-center text-white text-2xl">Aside</aside>
        <nav class="w-full h-1/2 bg-red-600 flex justify-center items-center text-white text-2xl">Nav</nav>
      </div>
      <main class="w-3/4 h-full flex justify-center items-center text-white text-2xl">Main</main>
    </div>
    <footer class="w-full h-20 bg-green-900 flex justify-center items-center text-white text-2xl">Footer</footer>
  </div>
</body>
</html>